extends layout
block content
  h2 Weather Forecast for #{weather.location.name}
  each forecast in weather.forecast
    div
      p Day: #{forecast.day}
      p Low Temperature: #{forecast.lowTemperature} °F
      p High Temperature: #{forecast.highTemperature} °F
      p Sky Code: #{forecast.skyCode}
      p General Overview: #{forecast.skyText}
      p Chance of Precipitation: #{forecast.precipitation}%
  form(action='/deleteLocation', method='POST')
   input(type="hidden" name="location" value=weather.location.name)
   button(type='submit') Delete Location
  br
