extends layout

block content
  h2 Add a New Location

  form(method="POST")
    p Location (Region name or ZIP Code):
    input(type="text" name="location")
    br

    | Favorite?
    input(type="checkbox" name="favorite")

    p
      input(type="submit" value="Get Location")

  if locationNotFound
    p Location not found.

  else if location
    h3 Location Selected: #{location}

    each result in results
      - const current = result.current

      h3 Current Conditions:
      p Current Time: #{current.observationtime}
      p Temperature: #{current.temperature}°F
      p Feels Like: #{current.feelslike}°F
      p Skytext: #{current.skytext}
      p Humidity: #{current.humidity}%
      p Wind Speed: #{current.windspeed}

    form(method="POST" action="/addLocation")
      input(type="hidden" name="location" value=location)
      p Do you want to add this location to your account?

      if favorite
        p This will be added to your favorites.

      input(type="submit" value="Yes")
      input(type="reset" value="No")
    // Kyle Osbourne